@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.banner{
    background: linear-gradient(180deg, rgba(155, 40, 40, 0.776), rgba(186, 186, 45, 0.719), rgba(0, 0, 0, 0.717)), url(../images/Banner\ Image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 100px;
    border-radius: 10px;
    
}
.banner .banner-text{
    color: white;
    font-family: Merriweather;
    font-weight: 800;
}


